<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'Admin_Styles/admin.css' %}">
</head>
<body>
<nav class="navbar">
    <div class="nav-logo">
        Admin Panel
    </div>
    <ul class="nav-links">
        <li><a href="{% url 'admin-dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'admin-add-recipe' %}">Add Recipe</a></li>
        <li><a href="{% url 'admin-view-recipes' %}">View Recipes</a></li>
        <li><a href="{% url 'admin-edit-recipe' %}">Edit Recipe</a></li>
        <li><a href="{% url 'logout' %}">Log Out</a></li>
    </ul>
</nav>

<div class="admin-container">
    <header>
    <h1>Admin Dashboard</h1>
    </header>
    <h2><i>Welcome, Admin!</i></h2>

<section>
    <h3>Manage Recipes</h3>
        <ul class ="dashboard-menu">
            <li>
            <p>Add New Recipe:</p>
            <a href="{% url 'admin-add-recipe' %}"><button>Go to Add Recipe</button></a>
            </li>
            <li>
            <p>View All Recipes:</p>
            <a href="{% url 'admin-view-recipes' %}"><button>View</button> </a>
            </li>
            <li>
            <p>Edit Recipe:</p>
            <a href="{% url 'admin-edit-recipe' %}"><button>Go to Edit Recipe</button></a>
            </li>
            <li>
            <p>Delete Recipe</p>
                <a href="{% url 'admin-view-recipes' %}"><button id="deleteRecipeBtn" class="delete-btn">Delete a Recipe</button></a>
            </li>
        </ul>
    </section>
</div>
    <script src="{% static 'scripts/data.js' %}"></script>
    <script src="{% static 'scripts/admin.js' %}"></script>
</body>
</html>
