<!DOCTYPE html>
<html lang="ar">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/styles/style.css">
  </head>

  <body >
    <nav class="navbar">
      <div class="nav-logo">
        🍽️ RecipeFinder
      </div>

      <ul class="nav-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="favourites.html">Favourites</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="signup.html">Sign Up</a></li>
      </ul>

      <div class="nav-search">
        <input type="text" placeholder="Search recipes...">
        <button>🔍</button>
      </div>
    </nav>

    <div class="Hottest-meals">
      <div class="headlines">
        <p id="yummy-headline">Most Viewed 🔥😋</p>
      </div>
      <div class="carousel-track">
        <div class="wrapper">
          <img src="../static/images/bamia_lahem.jpg" alt="bamia_lahem" class="item">
          <img src="../static/images/Molokhia.png" alt="Molokhia" class="item">
          <img src="../static/images/dajaj_cream.png" alt="dajaj_cream" class="item">
          <img src="../static/images/mesakhan.png" alt="mesakhan" class="item">
          <img src="../static/images/baklawa.png" alt="baklawa" class="item">

          <img src="../static/images/bamia_lahem.jpg" aria-hidden="true" class="item">
          <img src="../static/images/Molokhia.png" aria-hidden="true" class="item">
          <img src="../static/images/dajaj_cream.png" aria-hidden="true" class="item">
          <img src="../static/images/mesakhan.png" aria-hidden="true" class="item">
          <img src="../static/images/baklawa.png" aria-hidden="true" class="item">
        </div>
      </div>
    </div>

    <div class="filters">
      <!-- النوع -->
  <button class="filter-btn">وجبات رئيسية</button>
  <button class="filter-btn">حلويات</button>
  <button class="filter-btn">مشروبات</button>
  <button class="filter-btn">سلطات</button>

  <!-- الطعم -->
  <button class="filter-btn">حادق</button>
  <button class="filter-btn">حلو</button>

  <!-- البلد -->
  <button class="filter-btn">مصري</button>
  <button class="filter-btn">فلسطيني</button>
  <button class="filter-btn">سوري</button>

  <!-- النظام -->
  <button class="filter-btn">نباتي</button>

  <!-- الصعوبة -->
  <button class="filter-btn">سهل</button>
  <button class="filter-btn">متوسط</button>
  <button class="filter-btn">صعب</button>

  <!-- الوقت -->
  <button class="filter-btn">أقل من 30 دقيقة</button>
  <button class="filter-btn">أقل من ساعة</button>
  <button class="filter-btn">أكثر من ساعة</button>
    </div>

    <div class="parentEg">

    </div>

  <script src="../static/scripts/data.js"></script>
  <footer>
    <div class="footer-content" >
        <p>© 2026 RecipeFinder - كل الحقوق محفوظة</p>
        <a href="#" class="logout-link" onclick="logout()">تسجيل خروج</a>
    </div>
</footer>
  </body>
</html>