{% extends 'base.html' %}
{% load static %}
{% block content %}

   
    <div class="Hottest-meals">
      <div class="headlines">
        <p id="yummy-headline">Most Viewed 🔥😋</p>
      </div>
      <div class="carousel-track">
       <div class="carousel-track">
        <div class="wrapper">
          <img src="{% static 'images/bamia_lahem.jpg' %}" alt="bamia_lahem" class="item">
          <img src="{% static 'images/Molokhia.png' %}" alt="Molokhia" class="item">
          <img src="{% static 'images/dajaj_cream.png' %}" alt="dajaj_cream" class="item">
          <img src="{% static 'images/mesakhan.png' %}" alt="mesakhan" class="item">
          <img src="{% static 'images/baklawa.png' %}" alt="baklawa" class="item">

          <img src="{% static 'images/bamia_lahem.jpg' %}" aria-hidden="true" class="item">
          <img src="{% static 'images/Molokhia.png' %}" aria-hidden="true" class="item">
          <img src="{% static 'images/dajaj_cream.png' %}" aria-hidden="true" class="item">
          <img src="{% static 'images/mesakhan.png' %}" aria-hidden="true" class="item">
          <img src="{% static 'images/baklawa.png' %}" aria-hidden="true" class="item">
          </div>
        </div>
      </div>
    </div>

    <div class="filters">
  <!-- النوع -->
  <button class="filter-btn">وجبات رئيسية</button>
  <button class="filter-btn">حلويات</button>
  <button class="filter-btn">مشروبات</button>
  <button class="filter-btn">سلطات</button>

  <!-- الطعم -->
  <button class="filter-btn">حادق</button>
  <button class="filter-btn">حلو</button>

  <!-- البلد -->
  <button class="filter-btn">مصري</button>
  <button class="filter-btn">فلسطيني</button>
  <button class="filter-btn">سوري</button>

  <!-- النظام -->
  <button class="filter-btn">نباتي</button>

  <!-- الصعوبة -->
  <button class="filter-btn">سهل</button>
  <button class="filter-btn">متوسط</button>
  <button class="filter-btn">صعب</button>

  <!-- الوقت -->
  <button class="filter-btn">أقل من 30 دقيقة</button>
  <button class="filter-btn">أقل من ساعة</button>
  <button class="filter-btn">أكثر من ساعة</button>
    </div>

    <div class="parentEg">

    </div>

  <script src="{% static 'scripts/data.js' %}"></script>
  
  {% endblock %}
