<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Admin_Styles/style.css' %}">
</head>
<body>
    <nav class="navbar">
      <div class="nav-logo">
        🍽️ RecipeFinder
      </div>

      <ul class="nav-links">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'favorite_list' %}">Favorites</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'signup-page' %}">Sign Up</a></li>
      </ul>

      <div class="nav-search">
        <input type="text" placeholder="Search recipes...">
        <button>🔍</button>
      </div>
    </nav>
</body>
</html>
